<div>
    <h3>Editar Classe</h3>
  </div>
  <form class="example-container" [formGroup]="productForm" (ngSubmit)="updateClasse(productForm.value)">
    <input hidden name="idClasse" placeholder="ID" formControlName="idClasse">
    <input hidden name="ativo" placeholder="ativo" formControlName="ativo">

    <br>  
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome da Classe" formControlName="nome">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea  matInput name="descricao" placeholder="Descrição da Classe" formControlName="descricao"></textarea>
    </mat-form-field>
    <br>

    <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary" >
      <mat-icon>save</mat-icon>
      Salvar alterações
    </button>
  </form>